<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tudou.base.repository.RoleMapper">
    <resultMap id="BaseResultMap" type="com.tudou.base.model.Role">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="orders" jdbcType="BIGINT" property="orders" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="create_id" jdbcType="BIGINT" property="createId" />
        <result column="modify_time" jdbcType="BIGINT" property="modifyTime" />
        <result column="modify_id" jdbcType="BIGINT" property="modifyId" />
    </resultMap>
    <resultMap id="BaseResultMap_Alias" type="com.tudou.base.model.Role">
        <id column="base_role_id" jdbcType="BIGINT" property="id" />
        <result column="base_role_name" jdbcType="VARCHAR" property="name" />
        <result column="base_role_title" jdbcType="VARCHAR" property="title" />
        <result column="base_role_description" jdbcType="VARCHAR" property="description" />
        <result column="base_role_orders" jdbcType="BIGINT" property="orders" />
        <result column="base_role_create_time" jdbcType="BIGINT" property="createTime" />
        <result column="base_role_create_id" jdbcType="BIGINT" property="createId" />
        <result column="base_role_modify_time" jdbcType="BIGINT" property="modifyTime" />
        <result column="base_role_modify_id" jdbcType="BIGINT" property="modifyId" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        `id`, `name`, `title`, `description`, `orders`, `create_time`, 
        `create_id`, `modify_time`, `modify_id`
    </sql>
    <sql id="Base_Column_List_Alias">
        `base_role`.`id` as `base_role_id`, `base_role`.`name` as `base_role_name`, 
        `base_role`.`title` as `base_role_title`, `base_role`.`description` as `base_role_description`, 
        `base_role`.`orders` as `base_role_orders`, `base_role`.`create_time` as `base_role_create_time`, 
        `base_role`.`create_id` as `base_role_create_id`, `base_role`.`modify_time` as `base_role_modify_time`, 
        `base_role`.`modify_id` as `base_role_modify_id`
    </sql>
    <select id="selectByExample" parameterType="com.tudou.base.model.RoleExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from `base_role`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from `base_role`
        where `id` = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from `base_role`
        where `id` = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.tudou.base.model.RoleExample">
        delete from `base_role`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.tudou.base.model.Role" useGeneratedKeys="true">
        insert into `base_role`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `id`,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="title != null">
                `title`,
            </if>
            <if test="description != null">
                `description`,
            </if>
            <if test="orders != null">
                `orders`,
            </if>
            <if test="createTime != null">
                `create_time`,
            </if>
            <if test="createId != null">
                `create_id`,
            </if>
            <if test="modifyTime != null">
                `modify_time`,
            </if>
            <if test="modifyId != null">
                `modify_id`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="orders != null">
                #{orders,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=BIGINT},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=BIGINT},
            </if>
            <if test="modifyId != null">
                #{modifyId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.tudou.base.model.RoleExample" resultType="java.lang.Integer">
        select count(*) from `base_role`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update `base_role`
        <set>
            <if test="record.id != null">
                `id` = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.name != null">
                `name` = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.title != null">
                `title` = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.description != null">
                `description` = #{record.description,jdbcType=VARCHAR},
            </if>
            <if test="record.orders != null">
                `orders` = #{record.orders,jdbcType=BIGINT},
            </if>
            <if test="record.createTime != null">
                `create_time` = #{record.createTime,jdbcType=BIGINT},
            </if>
            <if test="record.createId != null">
                `create_id` = #{record.createId,jdbcType=BIGINT},
            </if>
            <if test="record.modifyTime != null">
                `modify_time` = #{record.modifyTime,jdbcType=BIGINT},
            </if>
            <if test="record.modifyId != null">
                `modify_id` = #{record.modifyId,jdbcType=BIGINT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.tudou.base.model.Role">
        update `base_role`
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                `title` = #{title,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                `description` = #{description,jdbcType=VARCHAR},
            </if>
            <if test="orders != null">
                `orders` = #{orders,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="createId != null">
                `create_id` = #{createId,jdbcType=BIGINT},
            </if>
            <if test="modifyTime != null">
                `modify_time` = #{modifyTime,jdbcType=BIGINT},
            </if>
            <if test="modifyId != null">
                `modify_id` = #{modifyId,jdbcType=BIGINT},
            </if>
        </set>
        where `id` = #{id,jdbcType=BIGINT}
    </update>
</mapper>